{% extends "base.html" %}
{% load bulma_tags %}
{% block content %}

    <div class="columns is-centered">
        <div class="column is-half">
            <article class="message is-primary">
                <div class="message-header">
                    Welcome!
                </div>
                <div class="message-body">
                    Welcome to course scheduler! You will need a login to continue.
                </div>
            </article>
            <h3 class="has-text-centered title is-3">Login</h3>
            <form method="POST">
                {% csrf_token %}
                {{ form|bulma }}
                <button type="submit" class="button is-primary is-fullwidth"><strong>Log In</strong></button>
            </form>
        </div>
    </div>
{% endblock %}