{% load obj_tags %}
<h4 class="title is-4">{{ data.model_name }}</h4>
<small><b>*Anchored courses cannot be edited</b></small>
<div class="content">
    <table class="table">
        {% include "courses/home_components/table_header.html" %}
        <tbody>
        {% for instance in data.instances %}
            <tr>
                <td>{{ instance.name }}</td>
                <td>{{ instance.number_offered }}</td>
                <td>
                    {% for teacher in instance.teacher.all %}
                        <span class="tag is-primary">{{ teacher.last_name }}, {{ teacher.first_name }}</span>
                    {% endfor %}
                </td>
                <td>
                    {% for room in instance.room.all %}
                        <span class="tag is-dark">{{ room }}</span>
                    {% endfor %}
                </td>
                <td>
                    {% for period in instance.barred_period.all %}
                        <span class="tag is-warning">{{ period }}</span>
                    {% endfor %}
                </td>
                {% include "courses/home_components/edit_delete_buttons.html" %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include "courses/home_components/add_form.html" %}
</div>
<script>
    function disable(id) {
        let el = document.getElementById(id)
        el.disabled = true
    }
    {% for instance in data.instances %}
        {% if instance.anchoredcourse_set.exists %}
            disable("{{ data.model_name }}" + "-edit-" + "{{ instance.pk }}")
        {% endif %}
    {% endfor %}
</script>