<td>
    <div class="buttons">
        <button id="{{ data.model_name }}-edit-{{ instance.pk }}"
                class="button is-info"
                hx-get="{% url data.url.edit pk=instance.pk %}"
                hx-swap="innerHTML"
                hx-target="#modal-edit">
            Edit
        </button>
        <button id="{{ data.model_name }}-delete-{{ instance.pk }}"
                class="button is-danger"
                hx-get="{% url data.url.delete pk=instance.pk %}"
                hx-swap="innerHTML"
                hx-target="#modal-edit">
            Delete
        </button>
    </div>
</td>