{% load obj_tags %}
<h4 class="title is-4">{{ data.model_name }}</h4>
<div class="content">
    <table class="table">
        {% include "courses/home_components/table_header.html" %}
        <tbody>
        {% for instance in data.instances %}
            <tr>
                <td>{{ instance.name }}</td>
                <td>
                    {% for course in instance.courses.all %}
                        <span class="tag is-primary">{{ course }}</span>
                    {% endfor %}
                </td>
                {% include "courses/home_components/edit_delete_buttons.html" %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include "courses/home_components/add_form.html" %}
</div>