{% load bulma_tags %}
<div x-data="{visible: true}">
    <div class="modal is-active" x-show="visible">
        <div class="modal-background" @click="visible=false"></div>
        <div class="modal-content box">
            <h4 class="title">Edit {{ model_name }}</h4>
            <hr>
            <form method="post">
                {% csrf_token %}
                {{ edit_form|bulma }}
                <button class="button is-info"
                        hx-post="{{ request.path }}"
                        hx-swap="outerHTML"
                        hx-target="#parent">
                    Save
                </button>
                <button class="button is-dark" @click.prevent="visible=false">Cancel</button>
            </form>
        </div>
        <button class="modal-close is-large" aria-label="close" @click="visible=false"></button>
    </div>
</div>