{% load bulma_tags %}
{% load obj_tags %}
<h4 class="title is-4">{{ data.model_name }}</h4>
<p><b>{{ data.help_message }}</b></p>
<div class="content">
    <table class="table">
        {% include "courses/home_components/table_header.html" %}
        <tbody>
        {% for instance in data.instances %}
            <tr>
                {% for field in data.fields %}
                    <td>{{ instance|get_obj_attr:field }}</td>
                {% endfor %}
                {% include "courses/home_components/edit_delete_buttons.html" %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include "courses/home_components/add_form.html" %}
</div>