{% load bulma_tags %}
<h4 class="title is-4">Periods</h4>
<div class="content">
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Start</th>
            <th>End</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for period in periods %}
            <tr>
                <td>{{ period.number }}</td>
                <td>{{ period.start }}</td>
                <td>{{ period.end }}</td>
                <td>
                    <button class="button is-info"
                            hx-get="{% url "edit_period" pk=period.pk %}"
                            hx-swap="innerHTML"
                            hx-target="#modal-edit">
                        Edit
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <form method="post">
        {% csrf_token %}
        {{ period_form|bulma }}
        <button class="button is-info"
                hx-post="{% url "add_period" %}"
                hx-swap="outerHTML"
                hx-target="#parent">
            Add Period
        </button>
    </form>
</div>